*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: pink;
    
}
.img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* text-align: center; */
}
.img-container img{
    border-radius: 10px;
    background-color: gray;
}
.img-container button{
    padding: 10px 15px;
    height: fit-content;
    cursor: pointer;

}