*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    padding-inline: 40px;
    font-family: cursive;
}

.calender-container{
    background-color: white;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding-block: 3px; */
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;

}
.month-name{
    margin: 0;
    background-color: orange;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
}
.day-name{
    font-size: 1.3rem;
    color: darkgray;
}
.day-number{
    font-size: 1.8rem;
    font-weight: bold;
}
.year{
    padding-bottom: 20px;
    font-size: 1.4rem;
    color: darkgray;
    font-weight: 500;

}