*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    max-width: 500px;
    min-height: 200px;
    background-color: aqua;
    box-shadow: 0px 4px 7px rgb(0, 0, 0, 0.5);
    position: relative;
    
}
.container img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    z-index: 10px;

}